@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("wal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
   

}

.container .card{
    width: 40vw;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(214, 193, 193);
    backdrop-filter: blur(4px);

}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:20px
}

.text-filed{
    width: 80%;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 10px auto 10px;
    font-size: 12px;
}

.content input:focus{
    outline: none;
}

.content h1{
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 1.2rem;
    margin-bottom: 40px;
    
}

.form-input{
   
    width: 100%;
    margin-bottom: 5px ;
    
}

.form-input button{
    width: 80%;
    background: rgba(255,255,255,0);
    border:none;
    border:1px solid rgba(2,2,2,0.5);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin:20px auto 10px;

}

.form-input button:hover{
    background:rgb(130, 218, 224,0.5);
    color: white;
    font-weight: bold;
    border-color: rgba(255,255,255,1) ;
}

@media(max-width:800px){
    .container .card {
        width: 60vw;
    }
}

@media(max-width:600px){
    .container .card {
        width: 90vw;
    }
}